#fridge-container {
    width: 50%;
    height: 100vh;
}

#ingredient-list-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ingredient-list-container ul {
    list-style-type: none;
    padding: 0;
}

#fridge-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

#fridge {
    align-items: center;
    display: flex;
    background-color: mintcream;
    box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.3);
    position: relative;
    width: 500px;
    height: 950px;
    border-radius: 10px;
}

#fridge-door {
    background-image: url('../imgs/fridge-gradient.png');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transition: all .5s, opacity 2s linear;
    border-radius: 10px;
    box-shadow: -20px 5px 10px #72767d;
}

.fridge-bottom {
    width: 450px;
    height: 20px;
    background-color: rgba(140,150,150,1);
    margin-top: 0;
    /* box-shadow: 0px 10px px 20px #72767d; */
}

#door-handle {
    margin: 0;
    position: absolute;
    right: 25px;
    top: 30%;
    width: 25px;
    height: 400px;
    background-image: url(../imgs/fridge-door-handle-gradient.png);
    box-shadow: -10px 0px 10px -5px #72767d;
}

.door-open {
    visibility: hidden;
    opacity: 0;
}