.Header {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f3ecf2;
}

/* --text: #0d080b;
--background: #f3ecf2;
--primary: #93bd9e;
--secondary: #e4d4e1;
--accent: #599166; */